<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>

<title>Item List</title>


</head>
<body>


	<div layout:fragment="content" class="container mySpace">
		<form action="/items" class="form-inline">
			<div class="form-group mb-2">
				<input type="text" class="form-control" name="description"
					placeholder="Search By Description" /> <input type="submit"
					value="Search" class="btn btn-primary" />
			</div>
		</form>
		<div class="card">
			<div class="card card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Category</th>
							<th>Manufacturer</th>
							<th>Price</th>
							<th>Stock</th>
							<th>Title</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item:${items}">

							<td th:text="${item.category}"></td>
							<td th:text="${item.manufacturer}"></td>
							<td th:text="${item.price}"></td>
							<td th:text="${item.stock}"></td>
							<td th:text="${item.title}"></td>


						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>



</body>
</html>