
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title></title>
</head>
<body>
	<div layout:fragment="content" class="container mySpace">
		<div class="card">
			<div class="card card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Category</th>
							<th>Manufacturer</th>
							<th>Title</th>
							<th>Quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cartitem:${cartitems}">
							<td th:text="${cartitem.item.category}"></td>
							<td th:text="${cartitem.item.manufacturer}"></td>
							<td th:text="${cartitem.item.title}"></td>
							<td th:text="${cartitem.quantity}"></td>

						</tr>
					</tbody>
				</table>



				<h2>
					Your Cart Total is: Euro <span th:utext="${total}"></span>
				</h2>
				<a th:href="@{/order(cartId=${cart.cartId})}" class="btn btn-dark">
					Order</a>


			</div>
		</div>

	</div>
</body>
</html>